body{
	
	color:#fff;
	background-color:#61122f;
	font-family: 'Oxygen', sans-serif;
}
#header-nav{
	background-color: #f6b319;
	border-radius:0;
	border:0;

}
.navbar-brand{
	color:black;
	font-size:30px;
	text-shadow:1px 1px 1px #111;
	margin-top:5px;
	padding-top:20px;
	font-weight: bold;
	line-height: .75;
}
.navbar-toggle{
	margin-top:20px;
}
nav>div.container{
	width:100%;
}
h2{
	color:white;
	text-shadow:1px 1px 1px #333;
	margin-top:10px;
}
h3{
	margin-top:10px;
}
div>p{
	font-size:14px;
}
.container .navbar-toggle{
	color:black;
	border:4px 4px black;
	background-color:#61122f;
}
.container .pragraph{
	background-color:#d1983c;
	padding-bottom:2px;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:5px;
	margin-right:5px;
}

.navbar{
	margin-bottom:10px;
}
.navbar>div.container{
	padding-bottom:0px;
}
#nav-list a{
	font-size:1.5rem;
	color:#61122f;
	background-color:white;
}
@media(min-width:1200px){

}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:768px) and (max-width:991px){
	
div.container div.pragraph{
	margin-top:15px;
	padding-bottom:15px;
	padding-top:15px;
	}
}
@media(max-width:767px){
div.container {
	padding-bottom:15px;
}

}